<!-- BEGIN PAGE HEADER-->
<h3 class="page-title">
  401 Page Option 1 <small>401 page option 1</small>
</h3>
<div class="page-bar">
  <ul class="page-breadcrumb">
    <li>
      <i class="fa fa-home"></i>
      <a href="index.html">Home</a>
      <i class="fa fa-angle-right"></i>
    </li>
    <li>
      <a href="#">Extra</a>
      <i class="fa fa-angle-right"></i>
    </li>
    <li>
      <a href="#/unauthorized">401 Page Option 1</a>
    </li>
  </ul>
  <div class="page-toolbar">
    <div class="btn-group pull-right">
      <button type="button" class="btn btn-fit-height grey-salt dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="1000" data-close-others="true">
        Actions <i class="fa fa-angle-down"></i>
      </button>
      <ul class="dropdown-menu pull-right" role="menu">
        <li>
          <a href="#">Action</a>
        </li>
        <li>
          <a href="#">Another action</a>
        </li>
        <li>
          <a href="#">Something else here</a>
        </li>
        <li class="divider">
        </li>
        <li>
          <a href="#">Separated link</a>
        </li>
      </ul>
    </div>
  </div>
</div>
<!-- END PAGE HEADER-->
<!-- BEGIN PAGE CONTENT-->
<div class="row">
  <div class="col-md-12 page-500">
    <div class=" number">
      401
    </div>
    <div class=" details">
      <h3>Oops! You have not permission to do that.</h3>
      <p>
        We are concat us!<br/>
        We will fix it.<br/><br/>
      </p>
    </div>
  </div>
</div>
<!-- END PAGE CONTENT-->