<div class="row" ng-controller="adposForHourCtrl">
	<div class="col-md-12">
		<div class="portlet box green-haze">
			<div class="portlet-title">
				<div class="caption">广告统计</div>
				<div class="actions">
					<div class="btn-group">
						<a class="btn default" data-toggle="dropdown"> 显示列 <i class="fa fa-angle-down"></i></a>
						<div id="sampleAdposForHour_column_toggler"
							class="dropdown-menu hold-on-click dropdown-checkboxes pull-right">
							<label><input type="checkbox" checked data-column="0">广告位</label>
							<label><input type="checkbox" checked data-column="1">小时</label>
							<label><input type="checkbox" checked data-column="2">广告展示</label>
							<label><input type="checkbox" checked data-column="3">广告点击</label>
						</div>
					</div>
				</div>
			</div>
			<div class="portlet-body">
				<table class="table table-striped table-bordered table-hover" id="sampleAdposForHour">
					<thead>
						<tr>
							<th class="hidden-xs">广告位</th>
							<th class="hidden-xs">小时</th>
							<th class="hidden-xs">广告展示</th>
							<th class="hidden-xs">广告点击</th>
						</tr>
					</thead>
				</table>
			</div>
		</div>
	</div>
</div>
<script>
	function adposForHourCtrl($scope,$state,$stateParams){
		AdposListForHour.init($stateParams.date,$stateParams.advposid);
	}
</script>